body{
    background-color: rgb(87, 86, 86);
}

.container{
    background-color: rgb(12, 12, 12);
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 250px;
    padding: 50px;
    border-radius: 50px;
    margin-left: 400px;
}

.box{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: grey;
    margin-left: 50px;
}

button{
    background-color: rgb(53, 52, 51);
    width: 100px;
    padding: 10px;
    font-size: x-large;
    border-radius: 50px;
    margin-left: 520px;
}
